@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto de Controle de Alunos</h1>
    <br />
    <p>Aplicação Web desenvolvida em ASP.NET Core 5.0 MVC</p>
    <div style="width: 200px; margin: 0 auto;">
        <ul>
            <li>SQL Server (local)</li>
            <li>Entity Framework</li>
            <li>Scaffolding</li>
        </ul>
    </div>
    <br />
    <p>Código fonte - <a href="https://github.com/leandrotacioli/controle-alunos.git">https://github.com/leandrotacioli/controle-alunos.git</a></p>
</div>
